// Fonts
@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;700');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-monospace: "Liberation Mono";
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Poller One', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';